.page-header {
  text-align: center;
  width: 100%;
  height: 5vh;

  #set-number {
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: none;
    text-align: center;
  }
}

.columns {
  display: flex;
  .column {
    height: 100%;
    width: 33%;
    overflow: auto;
    display: flex;
    flex-flow: column;
    border-collapse: collapse;

    .column-header {
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;
      height: 10vh;

      * {
        margin: 10px;
      }
    }
    .column-body {
      height: 80vh;
      border: 1px solid black;
      border-bottom: none;
      border-collapse: collapse;

      & > * {
        display: flex;
        flex-wrap: wrap;

        .diene {
          background-color: cadetblue;
          border: 1px solid white;
          margin: 10px;
          border-collapse: collapse;
          td {
            width: 8px;
            height: 8px;
            padding: 0px;
          }
        }
      }
    }
  }
}
